.activity_card {
  background-color: rgba(1, 183, 255, 0.226);
  min-width: 250px;
  border-radius: 6px;
  padding: 6px;
  display: flex;
  flex-flow: column nowrap;
  text-transform: capitalize;
}

.activity_card>h3 {
  text-align: center;
  font-weight: bold;
  background-color: rgba(34, 34, 34, 0.664);
}

.activity_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  height: 50px;
}

.activity_info > span{
  font-weight: normal;
  font-size: 1.1em;
}

.activity_info>img {
  padding: 6px;
  width: auto;
  height: inherit;
}