.background {
  background-image: url("../../assets/img/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(6, 24, 24, 0.9);
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 20vh;
  align-items: center;
}

.presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-size: 1em;
}

.title {
  text-align: center;
  text-shadow: 0 0 10px rgba(23, 128, 111, 0.923);
  letter-spacing: 1px;
  font-size: 3em;
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
}

.icon {
  font-size: 1.05em;
}

.subtitle {
  font-size: 1.4em;
  font-weight: normal;
}

.button {
  background: rgba(23, 128, 63, 0.792);
  background: linear-gradient(119deg, rgba(23, 128, 111, 0.923) 0%, rgba(23, 128, 63, 0.792) 45%);
  border: none;
  border-radius: 6px;
  color: #FFF;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  min-width: 150px;
  transition: outline 50ms;
}

.button:hover {
  outline: 2px solid rgba(255, 255, 255, 0.8);
}

.decoration {
  font-size: 1.5em;
  display: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
  align-self: flex-end;
  min-width: min-content;
}

.decoration>img {
  width: 100%;
  height: 50vh;
}

/* desktop */
@media only screen and (min-width: 768px) {
  .container {
    font-size: 1.4em;
    justify-content: start;
    align-items: flex-start;
    padding: 4em;
    gap: 5vh
  }

  .presentation {
    align-items: flex-start;
  }

  .title {
    letter-spacing: 2px;
  }

  .decoration {
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    font-size: 3em;
  }
}