.container {
  background-color: var(--second-color-op-more);
  min-height: 100vh;
  width: 100%;
}

.welcome_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #FFF;
  min-height: 100vh;
  width: 100%;
}

.welcome_words {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 1em;
}

.welcome_words_btn {
  color: #FFF;
  cursor: pointer;
  background-color: var(--third-color);
  border-radius: .4em;
  border: none;
  margin-top: 3em;
  min-width: 9em;
  padding: .3em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}

.welcome_words_btn:hover {
  outline: 2px solid #FFF;
  transition: all 50ms;
}

@media only screen and (min-width:768px) {
  .welcome_container {
    font-size: 2vw;
  }
}