.container {
  background-image: url("../../assets/img/landing_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.welcome_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  background-color: var(--second-color-op);
  color: var(--third-color);
  min-height: 100vh;
  width: 100%;
}

.welcome_words {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 1em;
}

.welcome_words_btn {
  color: var(--third-color);
  cursor: pointer;
  background-color: var(--first-color);
  border-radius: .4em;
  border: none;
  margin-top: 3em;
  min-width: 9em;
  padding: .3em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}

.welcome_words_btn:hover{
  outline: 2px solid var(--third-color);
  transition: all 50ms;
}