.container_cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  scrollbar-color: var(--second-color) transparent;
}


@media only screen and (min-width:768px) {
  .container_cards {
    height: 60vh;
  }
}

@media only screen and (min-width:1920px) {
  .container_cards {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}