@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root {
  --first-color: #23A8FE;
  --second-color: #43CB8E;
  --third-color: #077e48;
  --first-color-trans: #23a6fee8;
  --second-color-trans: #43cb8ee0;
  --second-color-op: #252525b7;
  --second-color-op-more: #0f0f0fe0;
  --searcher-background-first: rgba(15, 15, 15, 0.9);
  --searcher-background-second: rgba(37, 37, 37, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Changa', sans-serif;
  font-weight: normal;
}

*::selection {
  color: #000;
  background-color: #CCC;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/img/landing_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}