@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #000;
}

.App {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  color: #FFF;
}