@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');

:root {
  --first-color: #7636b1;
  --second-color: #2c2c2c;
  --third-color: #eeeeee;
  --second-color-op: #252525b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  font-weight: normal;
}

*::selection {
  color: #000;
  background-color: #CCC;
}

.App {
  width: 100%;
  min-height: 100vh;
}

.App-background {
  width: 100%;
  min-height: 100vh;
  background-color: var(--second-color);
}